In [1]:
a = 10
b = 5
c = 54
'a={}, b={}, c={}'.format(a,b,c)

'a=10, b=5, c=54'

In [2]:
'    python is fun   '.strip()

'python is fun'

In [3]:
s = "malayalam"
s == s[::-1]

True

In [4]:
s = "Bhagya"
s == s[::-1]

False

In [5]:
s = "fdklg%kfdl"
s.split("%")

['fdklg', 'kfdl']

In [6]:
s = "my name"
s.split()

['my', 'name']

In [7]:
num = int(input("Enter number : "))
fact = 1

for i in range(1, num + 1):
    fact = fact * i

print ("Factorial is: ",end = " ")
print(fact)

Enter number : 5
Factorial is:  120

In [8]:
num = int(input("Enter number : "))
fact = 1

for i in range(1, num + 1):
    fact = fact * i

print ("Factorial is: ",end = " ")
print(fact)

Enter number : 2
Factorial is:  2

In [1]:
d = {'a':100, 'b':20, 'c':30, 'e':20, 'k':{'x':10}, 'v':[1,2,3]}

In [2]:
d['v'][0:3]

[1, 2, 3]

In [3]:
d['v'][0:2]

[1, 2]

In [4]:
d['v'][0:1]

[1]

In [5]:
tp = ((1,2,3),7,(45,66,67),(6,7,9),[1,2,44,6],{'1':1})

In [6]:
for i in tp:
    if isinstance(i, tuple):
        print(i)

(1, 2, 3)
(45, 66, 67)
(6, 7, 9)

In [7]:
for i in tp:
    if isinstance(i, tuple):
        print(i)
        for j in i:
            print(j)

(1, 2, 3)
1
2
3
(45, 66, 67)
45
66
67
(6, 7, 9)
6
7
9

In [8]:
id(tp)

2326531707136

In [1]:
"Hello everyone"

'Hello everyone'

In [2]:
emp_info = {}

while True:
    print("1. Create Employee records")
    print("2. Update the Employee details")
    print("3. Delete employee record")
    print("4. Display")
    print("5. Exit")
    ch = int(input("Enter your choice[1-5]: "))
    if ch == 1:
        name = input("Enter the Employee name: ")
        emp_id = int(input("Enter the Employee id: "))
        ph = input("Enter the phone number: ")
        tech = input("Technologies[comma seperated ed: C++, Python, .Net] ")
        emp_info[emp_id] = {"name" : name, "phone" : ph, "tech" : tech.split(',')}
    elif ch == 2:
        who = int(input("Whoes details you want to update ?, Please enter the emp_id: "))
        rec = emp_info[who]
        for field, value in rec.items():
            new = input('{}({})'.format(field, value))
            emp_info[who][field] = value if new == '' else new
    elif ch == 3:
        pass
    elif ch == 4:
        print(emp_info)
    else:
        break

1. Create Employee records
2. Update the Employee details
3. Delete employee record
4. Display
5. Exit
Enter your choice[1-5]: 1
Enter the Employee name: Bhagyashree
Enter the Employee id: 3421
Enter the phone number: 8967347113
Technologies[comma seperated ed: C++, Python, .Net] C,C++
1. Create Employee records
2. Update the Employee details
3. Delete employee record
4. Display
5. Exit
Enter your choice[1-5]: 1
Enter the Employee name: Neha
Enter the Employee id: 8475
Enter the phone number: 9878734143
Technologies[comma seperated ed: C++, Python, .Net] .Net,Python
1. Create Employee records
2. Update the Employee details
3. Delete employee record
4. Display
5. Exit
Enter your choice[1-5]: 2
Whoes details you want to update ?, Please enter the emp_id: 3421
name(Bhagyashree)Bhagyashree Wagh
phone(8967347113)8967347113
tech(['C', 'C++'])Python,C,C++,Java
1. Create Employee records
2. Update the Employee details
3. Delete employee record
4. Display
5. Exit
Enter your choice[1-5]: 4
{3421: {'name': 'Bhagyashree Wagh', 'phone': '8967347113', 'tech': 'Python,C,C++,Java'}, 8475: {'name': 'Neha', 'phone': '9878734143', 'tech': ['.Net', 'Python']}}
1. Create Employee records
2. Update the Employee details
3. Delete employee record
4. Display
5. Exit
Enter your choice[1-5]: 5

In [3]:
[x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
[x for x in range(10) if x % 2 == 0]

[0, 2, 4, 6, 8]

In [5]:
n = [1,2,3,4,5,6,7,8]

num = int(input("Enter a index for which you want to see square: "))
squares = []
for num in n:
    squares.append(num**2)
idx_pos = n.index(num)
print(squares[idx_pos])

Enter a index for which you want to see square: 2
64

In [6]:
num = int(input("Enter the index for which you want to see square: "))
sq = [num**2 for num in n]
idx_pos = n.index(num)
print(sq[idx_pos])

Enter the index for which you want to see square: 3
9

In [7]:
{k : k**2 for k in range(1,6)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [8]:
#convert tuple to dict

# {0:45, 1:77, 2:109, 4:data, 4:[]}
tp = (45, 77, 109, 'data', ["Bhagya", "Neha"])

In [9]:
{k : tp[k] for k in range(len(tp))}

{0: 45, 1: 77, 2: 109, 3: 'data', 4: ['Bhagya', 'Neha']}

In [10]:
# another way

{tp.index(v) : v for v in tp}

{0: 45, 1: 77, 2: 109, 3: 'data', 4: ['Bhagya', 'Neha']}

In [11]:
# reverse element of tuple

new_tp = tp[::-1]
print(new_tp)

(['Bhagya', 'Neha'], 'data', 109, 77, 45)

In [12]:
s = {2,4,6,8,90,88,92,91}

In [13]:
type(s)

set

In [14]:
lst = [1,1,1,2,2,2,3,4,5]

In [15]:
lst

[1, 1, 1, 2, 2, 2, 3, 4, 5]

In [16]:
set(lst)

{1, 2, 3, 4, 5}

In [17]:
s.add(100)

In [18]:
s

{2, 4, 6, 8, 88, 90, 91, 92, 100}

In [19]:
lst = [34,6,7,5,3,2,(88,),4,5,7,8,9,4,3,'hiii',5,(7,97,7),4,2]

In [20]:
set(lst)

{(7, 97, 7), (88,), 2, 3, 34, 4, 5, 6, 7, 8, 9, 'hiii'}

In [21]:
s1 = {1,2,3,4,5,6,7,8}
s2 = {5,6,7,8,9,10,11,12}

s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [22]:
s1.difference(s2)

{1, 2, 3, 4}

In [23]:
s2.difference(s1)

{9, 10, 11, 12}

In [24]:
s1.intersection(s2)

{5, 6, 7, 8}

In [25]:
s1-s2

{1, 2, 3, 4}

In [26]:
s1-s2

{1, 2, 3, 4}

In [27]:
s2-s1

{9, 10, 11, 12}

In [28]:
s1.pop()

1

In [29]:
dir(s1)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [30]:
s1.remove(2)

In [31]:
s1

{3, 4, 5, 6, 7, 8}

In [32]:
s3 = {5,6}
s3.issubset(s1)

True

In [33]:
s3.symmetric_difference(s1)

{3, 4, 7, 8}

In [34]:
s1.issubset(s3)

False

In [35]:
s1.issuperset(s3)

True

In [36]:
s1.issuperset(s3)

True

In [37]:
def greeting(name, age):
    print("hello %s" % name)
    print("Welcome to python")
    print("Your age is %s" %age)

In [38]:
greeting('Bhagya',22)

hello Bhagya
Welcome to python
Your age is 22

In [39]:
def greeting(name, age):
    print("hello %s" % name)
    print("Welcome to python")
    if isinstance(age, (int, float)):
        print(age)

In [40]:
greeting('Ashish',26)

hello Ashish
Welcome to python
26

In [41]:
def greeting(name = '',age =23):
    """
    this function is responsible to greet people
    """
    print("Hello {}".format(name))
    print("Welcome to python")
    if isinstance(age,(int, float)):
        print("age", age)

In [42]:
greeting('Vinnie')

Hello Vinnie
Welcome to python
age 23

In [43]:
def greeting(name, age, phone="77652810", address="pune"):
    """
    this function is responsible to greet people
    
    """
    print("Name {}".format(name))
    print("age {}".format(age))
    print("Phone {}".format(phone))
    print("address %s" % address)

In [44]:
greeting('Vinnie',22)

Name Vinnie
age 22
Phone 77652810
address pune

In [45]:
greeting('Bhagya',22,873849811,'Pune')

Name Bhagya
age 22
Phone 873849811
address Pune

In [46]:
def greeting(*args, phone = "1111", address = "Pune"):
    print("Complete args {}".format(args))
    print("Hello {}".format(args[0]))
    print("age {}".format(args[1]))
    print("phone ", phone)
    print("address ", address)

In [47]:
greeting('Manu',15,phone='4853872732', address = 'Pune')

Complete args ('Manu', 15)
Hello Manu
age 15
phone  4853872732
address  Pune

In [48]:
greeting('Bhagya',21,'Mannu',"800","name",{"1":1},phone='845367843', address = 'Pune')

Complete args ('Bhagya', 21, 'Mannu', '800', 'name', {'1': 1})
Hello Bhagya
age 21
phone  845367843
address  Pune

In [49]:
def get_data(name, *args, phone="0000", address = "Pune"):
    print("name", name)
    print("args", args)
    print("phone", phone)
    print("address", address)

In [50]:
get_data('Bhagya',"CS", "Bang", phone="123456", address = "Pune")

name Bhagya
args ('CS', 'Bang')
phone 123456
address Pune

In [51]:
def get_data(name, *args, **kwargs):
    print("name ", name)
    print("args ", args)
    print("kwargs ", kwargs)

In [52]:
get_data('Bhagya', 248579, "IT", "Banglore", phone = "46544", location = "Pune")

name  Bhagya
args  (248579, 'IT', 'Banglore')
kwargs  {'phone': '46544', 'location': 'Pune'}

In [53]:
def get_data(name, *args, **kwargs):
    print("name ", name)
    print("args ", args)
    print("Phone ", kwargs['phone'])

In [54]:
get_data('Neha', 45708, "Mech", "Pune", phone = "48375", location = "Pune")

name  Neha
args  (45708, 'Mech', 'Pune')
Phone  48375

In [55]:
def get_data(name, *args, dis = 100, **kwargs):
    print("name ", name)
    print("args ", args)
    print("Phone ", kwargs['phone'])
    print("Discount ", dis)

In [57]:
get_data('Bhagya', 488091, "IT", "Hyderabad",dis = 900, phone = "4051049", location = "Pune")

name  Bhagya
args  (488091, 'IT', 'Hyderabad')
Phone  4051049
Discount  900

In [60]:
i=1
n = int(input("Enter number"))
for i in n:
    print(i)

Enter number5

TypeError: 'int' object is not iterable

In [61]:
def dis_natural_no(n):
    i=1
    for i in range(1,n+1):
        print(i)

In [62]:
dis_natural_no(8)

1
2
3
4
5
6
7
8

In [63]:
def square(x):
    return x**2
square(4)

16

In [64]:
square(45)

2025

In [65]:
# lambda args: expression

x = lambda x: x**2
x(34)

1156

In [66]:
x(3)

9

In [67]:
list(map(square,(2,4,5,8,9)))

[4, 16, 25, 64, 81]

In [68]:
# map(function, [], ())
list(map(str.upper,['python', 'is', 'fun']))

['PYTHON', 'IS', 'FUN']

In [69]:
for w in ['python', 'is', 'fun']:
    print(w.upper())

PYTHON
IS
FUN

In [70]:
def func():
    x1 = 4
    print(x1)
func()

4

In [71]:
def func():
    global x1
    x1 = 4
    print(x1)
func()

4

In [72]:
def outer():
    i = 10
    j = 8
    def inner():
        print(i)
        print("i am inner function")
    def inner2():
        print(j)
        print("second inner")
    inner()
    inner2()
    return inner, inner2

In [73]:
p = outer()

10
i am inner function
8
second inner

In [74]:
p[0]()

10
i am inner function

In [75]:
p[1]()

8
second inner

In [76]:
dir(p)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [77]:
def outer(f):
    def inner():
        result = f()
        return result ** 2
    return inner

In [78]:
def num():
    return 5

In [79]:
r = outer(num)

In [80]:
r()

25

In [81]:
@outer
def num():
    return 5

In [82]:
num()

25

In [83]:
def outer(f):
    def inner(n1,n2):
        result = f(n1,n2)
        return result **2
    return inner

In [84]:
@outer
def num(n1,n2):
    return n1+n2+5

In [85]:
num(1,2)

64

In [86]:
def validate(func):
    def validator(*args, **kwargs):
        if len(args)>1:
            if args[1] == 0:
                print("we are expecting non zero number")
                return None
            else:
                power = func(args[0],args[1])
                return power
        else:
            print("Invalid args")
    return validator

In [87]:
import math

In [88]:
@validate
def mypower(x,y):
    return math.pow(x,y)

In [89]:
mypower(10,0)

we are expecting non zero number

In [90]:
mypower(10,5)

100000.0

In [91]:
mypower(10)

Invalid args

In [92]:
list_1 = [1,2,3,4,5,6,7,8,9,10]
list(filter(lambda x: x % 2 == 0, list_1))

[2, 4, 6, 8, 10]

In [94]:
list_1 = [1,2,3,4,5,6,7,8,9]
list(map(lambda x: pow(x,3), list_1))

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [95]:
# general purpose decorators

def a_decorator_passing_arbitrary_arguments(function_to_decorate):
    
    def a_wrapper_accepting_arbitrary_arguments(*args, **kwargs):
        print("The positional arguments are ", args)
        print("The keyword arguments are ", kwargs)
        function_to_decorate(*args)
    
    return a_wrapper_accepting_arbitrary_arguments

@a_decorator_passing_arbitrary_arguments
def function_with_no_arguments():
    print("No arguments here....")

In [96]:
function_with_no_arguments()

The positional arguments are  ()
The keyword arguments are  {}
No arguments here....

In [97]:
# passing positional arguments to decorators
def accept_the_arguments(function_to_decorator):
    def inner_function(*args, **kwargs):
        print("positional arguments are", args)
        print("The Keyword arguments are", kwargs)
        function_to_decorator(*args)
    return inner_function

@accept_the_arguments
def function_with_args(a,b,c):
    print(a,b,c)

function_with_args(10,20,30)

positional arguments are (10, 20, 30)
The Keyword arguments are {}
10 20 30

In [98]:
# passing kwargs based arguments

def accepting_kwargs(function_to_decorator):
    def inner_function(*args, **kwargs):
        print("args values ", args)
        print("positional args ", kwargs)
        function_to_decorator(*args, **kwargs)
    return inner_function

@accepting_kwargs
def function_with_args(*args, **kwargs):
    print("Inside function args", args)
    print("kwargs..", kwargs)

In [99]:
function_with_args(5,6,7,name = "Bhagyashree", address = "Pune")

args values  (5, 6, 7)
positional args  {'name': 'Bhagyashree', 'address': 'Pune'}
Inside function args (5, 6, 7)
kwargs.. {'name': 'Bhagyashree', 'address': 'Pune'}

In [100]:
# passing argument to decorator

def decorator_with_args(decorator_args1, decorator_args2, decorator_args3):
    
    def decorator(func):
        def wrapper(function_args1, function_args2, function_args3):
            print("The wrapper can access all the variables\n"
                  "\t from the decorator maker:{0} {1} {2} \n"
                  "\t from the function call:{3} {4} {5} \n"
                 "and pass them into decorator function".format(decorator_args1,
                                                                decorator_args2,
                                                                decorator_args3,
                                                                function_args1,
                                                                function_args2,
                                                                function_args3
                                                                ))
            return func(function_args1,function_args2,function_args3)
        return wrapper
    return decorator

pandas = "Pandas"
@decorator_with_args(pandas, "Numpy", "Sciki-learn")
def actual_function(function_args1, function_args2, function_args3):
    print("This is decorated function and it only knows its args: {0}, {1}, {2}".format(
        function_args1, function_args2, function_args3))

In [101]:
actual_function("Joy", "Science", "Tools")

The wrapper can access all the variables
	 from the decorator maker:Pandas Numpy Sciki-learn
	 from the function call:Joy Science Tools
and pass them into decorator function
This is decorated function and it only knows its args: Joy, Science, Tools

In [102]:
def count_digit(num):
    count = 0
    while num != 0:
        num //=10
        count += 1
    
    print("Number of Digits: " + str(count))

In [103]:
count_digit(49875)

Number of Digits: 5

In [104]:
count_digit(52)

Number of Digits: 2

In [105]:
# chaining of decorator

from functools import wraps
#code for testing decorator chaining

def decor1(func):
    def inner():
        x = func()
        print("X in decor 2nd", x)
        return x*x # logic doing mul
    return inner

def decor(func):
    def inner():
        x = func()
        print("X in decor 1", x)
        return 2*x # multiply with 2
    return inner

@decor1
@decor
def num():
    return 10

In [106]:
num()

X in decor 1 10
X in decor 2nd 20

400

In [107]:
def simple_func(): # define
    print("hi")    # logic1
    print('hello') # 2
    return 'hello' # 3 manupulation
                   # return computed
                     # logic...
simple_func()

hi
hello

'hello'

In [108]:
type(simple_func)

function

In [109]:
def simple_generator():
    print("hiii")
    yield 'hello'
    x = 10
    y = x + 5
    print(y)
    yield "Hello World"
    yield x

In [110]:
ret = simple_generator()

In [111]:
ret

In [119]:
for val in ret :
    print(val)

In [115]:
list(ret)

[]

In [123]:
def fibo(n):
    numbers = []
    first,second = 0,1
    while first < n:
        numbers.append(first)
        first, second = second, first+second
    print(numbers)

In [124]:
fibo(10)

[0, 1, 1, 2, 3, 5, 8]

In [125]:
def fibo(num):
    first, second = 0,1
    while num:
        yield first
        first, second = second, first+second
        num -= 1

In [126]:
ret = fibo(50)

In [127]:
ret

In [128]:
next(ret)

0

In [129]:
next(ret)

1

In [130]:
list(ret)

[1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946,
 17711,
 28657,
 46368,
 75025,
 121393,
 196418,
 317811,
 514229,
 832040,
 1346269,
 2178309,
 3524578,
 5702887,
 9227465,
 14930352,
 24157817,
 39088169,
 63245986,
 102334155,
 165580141,
 267914296,
 433494437,
 701408733,
 1134903170,
 1836311903,
 2971215073,
 4807526976,
 7778742049]

In [131]:
import random
name = ["abc", "mno", "qrs", "wxy"]
designation = ["mgr", "se", "sse", "admin", "hr", "fin"]

def people_list():
    people = []
    for i in range(100000):
        person = {"id":i , "name":random.choice(name), "designations": random.choice(designation)}
        people.append(person)
    return people

def people_generator():
    people = []
    for i in range(100000):
        person = {"id":i , "name":random.choice(name), "designations": random.choice(designation)}
        people.append(person)
    yield people

In [132]:
p = people_list()
p[:2]

[{'id': 0, 'name': 'wxy', 'designations': 'hr'},
 {'id': 1, 'name': 'mno', 'designations': 'sse'}]

In [133]:
ret = people_generator()

In [134]:
ret

In [135]:
next(ret)

[{'id': 0, 'name': 'wxy', 'designations': 'sse'},
 {'id': 1, 'name': 'mno', 'designations': 'fin'},
 {'id': 2, 'name': 'wxy', 'designations': 'admin'},
 {'id': 3, 'name': 'mno', 'designations': 'fin'},
 {'id': 4, 'name': 'abc', 'designations': 'se'},
 {'id': 5, 'name': 'abc', 'designations': 'admin'},
 {'id': 6, 'name': 'mno', 'designations': 'fin'},
 {'id': 7, 'name': 'abc', 'designations': 'admin'},
 {'id': 8, 'name': 'abc', 'designations': 'se'},
 {'id': 9, 'name': 'mno', 'designations': 'se'},
 {'id': 10, 'name': 'mno', 'designations': 'fin'},
 {'id': 11, 'name': 'wxy', 'designations': 'admin'},
 {'id': 12, 'name': 'wxy', 'designations': 'sse'},
 {'id': 13, 'name': 'mno', 'designations': 'se'},
 {'id': 14, 'name': 'qrs', 'designations': 'hr'},
 {'id': 15, 'name': 'abc', 'designations': 'se'},
 {'id': 16, 'name': 'mno', 'designations': 'fin'},
 {'id': 17, 'name': 'mno', 'designations': 'sse'},
 {'id': 18, 'name': 'wxy', 'designations': 'admin'},
 {'id': 19, 'name': 'abc', 'designations': 'se'},
 {'id': 20, 'name': 'wxy', 'designations': 'hr'},
 {'id': 21, 'name': 'qrs', 'designations': 'fin'},
 {'id': 22, 'name': 'abc', 'designations': 'se'},
 {'id': 23, 'name': 'abc', 'designations': 'mgr'},
 {'id': 24, 'name': 'qrs', 'designations': 'se'},
 {'id': 25, 'name': 'qrs', 'designations': 'se'},
 {'id': 26, 'name': 'abc', 'designations': 'hr'},
 {'id': 27, 'name': 'mno', 'designations': 'mgr'},
 {'id': 28, 'name': 'wxy', 'designations': 'fin'},
 {'id': 29, 'name': 'mno', 'designations': 'fin'},
 {'id': 30, 'name': 'wxy', 'designations': 'admin'},
 {'id': 31, 'name': 'abc', 'designations': 'fin'},
 {'id': 32, 'name': 'wxy', 'designations': 'hr'},
 {'id': 33, 'name': 'mno', 'designations': 'admin'},
 {'id': 34, 'name': 'mno', 'designations': 'sse'},
 {'id': 35, 'name': 'abc', 'designations': 'admin'},
 {'id': 36, 'name': 'mno', 'designations': 'se'},
 {'id': 37, 'name': 'wxy', 'designations': 'sse'},
 {'id': 38, 'name': 'qrs', 'designations': 'mgr'},
 {'id': 39, 'name': 'wxy', 'designations': 'admin'},
 {'id': 40, 'name': 'wxy', 'designations': 'sse'},
 {'id': 41, 'name': 'wxy', 'designations': 'hr'},
 {'id': 42, 'name': 'wxy', 'designations': 'hr'},
 {'id': 43, 'name': 'qrs', 'designations': 'sse'},
 {'id': 44, 'name': 'abc', 'designations': 'fin'},
 {'id': 45, 'name': 'qrs', 'designations': 'admin'},
 {'id': 46, 'name': 'wxy', 'designations': 'mgr'},
 {'id': 47, 'name': 'abc', 'designations': 'admin'},
 {'id': 48, 'name': 'qrs', 'designations': 'mgr'},
 {'id': 49, 'name': 'qrs', 'designations': 'se'},
 {'id': 50, 'name': 'mno', 'designations': 'admin'},
 {'id': 51, 'name': 'mno', 'designations': 'mgr'},
 {'id': 52, 'name': 'mno', 'designations': 'fin'},
 {'id': 53, 'name': 'qrs', 'designations': 'hr'},
 {'id': 54, 'name': 'qrs', 'designations': 'admin'},
 {'id': 55, 'name': 'mno', 'designations': 'sse'},
 {'id': 56, 'name': 'qrs', 'designations': 'fin'},
 {'id': 57, 'name': 'wxy', 'designations': 'admin'},
 {'id': 58, 'name': 'qrs', 'designations': 'se'},
 {'id': 59, 'name': 'qrs', 'designations': 'fin'},
 {'id': 60, 'name': 'abc', 'designations': 'fin'},
 {'id': 61, 'name': 'mno', 'designations': 'admin'},
 {'id': 62, 'name': 'qrs', 'designations': 'fin'},
 {'id': 63, 'name': 'abc', 'designations': 'hr'},
 {'id': 64, 'name': 'abc', 'designations': 'mgr'},
 {'id': 65, 'name': 'mno', 'designations': 'mgr'},
 {'id': 66, 'name': 'qrs', 'designations': 'admin'},
 {'id': 67, 'name': 'wxy', 'designations': 'mgr'},
 {'id': 68, 'name': 'mno', 'designations': 'se'},
 {'id': 69, 'name': 'mno', 'designations': 'se'},
 {'id': 70, 'name': 'abc', 'designations': 'admin'},
 {'id': 71, 'name': 'wxy', 'designations': 'se'},
 {'id': 72, 'name': 'wxy', 'designations': 'se'},
 {'id': 73, 'name': 'abc', 'designations': 'se'},
 {'id': 74, 'name': 'abc', 'designations': 'se'},
 {'id': 75, 'name': 'wxy', 'designations': 'fin'},
 {'id': 76, 'name': 'mno', 'designations': 'hr'},
 {'id': 77, 'name': 'abc', 'designations': 'hr'},
 {'id': 78, 'name': 'mno', 'designations': 'fin'},
 {'id': 79, 'name': 'mno', 'designations': 'mgr'},
 {'id': 80, 'name': 'qrs', 'designations': 'fin'},
 {'id': 81, 'name': 'abc', 'designations': 'sse'},
 {'id': 82, 'name': 'wxy', 'designations': 'se'},
 {'id': 83, 'name': 'qrs', 'designations': 'admin'},
 {'id': 84, 'name': 'mno', 'designations': 'admin'},
 {'id': 85, 'name': 'abc', 'designations': 'admin'},
 {'id': 86, 'name': 'wxy', 'designations': 'mgr'},
 {'id': 87, 'name': 'wxy', 'designations': 'mgr'},
 {'id': 88, 'name': 'abc', 'designations': 'hr'},
 {'id': 89, 'name': 'abc', 'designations': 'mgr'},
 {'id': 90, 'name': 'abc', 'designations': 'hr'},
 {'id': 91, 'name': 'wxy', 'designations': 'fin'},
 {'id': 92, 'name': 'mno', 'designations': 'admin'},
 {'id': 93, 'name': 'abc', 'designations': 'mgr'},
 {'id': 94, 'name': 'abc', 'designations': 'mgr'},
 {'id': 95, 'name': 'abc', 'designations': 'admin'},
 {'id': 96, 'name': 'qrs', 'designations': 'admin'},
 {'id': 97, 'name': 'wxy', 'designations': 'fin'},
 {'id': 98, 'name': 'qrs', 'designations': 'hr'},
 {'id': 99, 'name': 'wxy', 'designations': 'hr'},
 {'id': 100, 'name': 'abc', 'designations': 'sse'},
 {'id': 101, 'name': 'wxy', 'designations': 'mgr'},
 {'id': 102, 'name': 'abc', 'designations': 'admin'},
 {'id': 103, 'name': 'abc', 'designations': 'hr'},
 {'id': 104, 'name': 'wxy', 'designations': 'admin'},
 {'id': 105, 'name': 'qrs', 'designations': 'admin'},
 {'id': 106, 'name': 'qrs', 'designations': 'se'},
 {'id': 107, 'name': 'mno', 'designations': 'se'},
 {'id': 108, 'name': 'mno', 'designations': 'hr'},
 {'id': 109, 'name': 'qrs', 'designations': 'hr'},
 {'id': 110, 'name': 'wxy', 'designations': 'se'},
 {'id': 111, 'name': 'qrs', 'designations': 'hr'},
 {'id': 112, 'name': 'abc', 'designations': 'mgr'},
 {'id': 113, 'name': 'mno', 'designations': 'mgr'},
 {'id': 114, 'name': 'abc', 'designations': 'sse'},
 {'id': 115, 'name': 'qrs', 'designations': 'hr'},
 {'id': 116, 'name': 'mno', 'designations': 'fin'},
 {'id': 117, 'name': 'wxy', 'designations': 'admin'},
 {'id': 118, 'name': 'qrs', 'designations': 'mgr'},
 {'id': 119, 'name': 'abc', 'designations': 'mgr'},
 {'id': 120, 'name': 'abc', 'designations': 'fin'},
 {'id': 121, 'name': 'qrs', 'designations': 'sse'},
 {'id': 122, 'name': 'mno', 'designations': 'mgr'},
 {'id': 123, 'name': 'wxy', 'designations': 'se'},
 {'id': 124, 'name': 'wxy', 'designations': 'admin'},
 {'id': 125, 'name': 'mno', 'designations': 'sse'},
 {'id': 126, 'name': 'qrs', 'designations': 'sse'},
 {'id': 127, 'name': 'mno', 'designations': 'se'},
 {'id': 128, 'name': 'qrs', 'designations': 'sse'},
 {'id': 129, 'name': 'mno', 'designations': 'hr'},
 {'id': 130, 'name': 'wxy', 'designations': 'se'},
 {'id': 131, 'name': 'qrs', 'designations': 'fin'},
 {'id': 132, 'name': 'wxy', 'designations': 'hr'},
 {'id': 133, 'name': 'abc', 'designations': 'admin'},
 {'id': 134, 'name': 'mno', 'designations': 'mgr'},
 {'id': 135, 'name': 'abc', 'designations': 'fin'},
 {'id': 136, 'name': 'abc', 'designations': 'mgr'},
 {'id': 137, 'name': 'mno', 'designations': 'sse'},
 {'id': 138, 'name': 'qrs', 'designations': 'fin'},
 {'id': 139, 'name': 'qrs', 'designations': 'admin'},
 {'id': 140, 'name': 'abc', 'designations': 'mgr'},
 {'id': 141, 'name': 'mno', 'designations': 'hr'},
 {'id': 142, 'name': 'mno', 'designations': 'fin'},
 {'id': 143, 'name': 'mno', 'designations': 'sse'},
 {'id': 144, 'name': 'qrs', 'designations': 'hr'},
 {'id': 145, 'name': 'abc', 'designations': 'admin'},
 {'id': 146, 'name': 'qrs', 'designations': 'hr'},
 {'id': 147, 'name': 'wxy', 'designations': 'hr'},
 {'id': 148, 'name': 'abc', 'designations': 'mgr'},
 {'id': 149, 'name': 'mno', 'designations': 'hr'},
 {'id': 150, 'name': 'qrs', 'designations': 'fin'},
 {'id': 151, 'name': 'qrs', 'designations': 'mgr'},
 {'id': 152, 'name': 'wxy', 'designations': 'sse'},
 {'id': 153, 'name': 'mno', 'designations': 'mgr'},
 {'id': 154, 'name': 'qrs', 'designations': 'se'},
 {'id': 155, 'name': 'mno', 'designations': 'mgr'},
 {'id': 156, 'name': 'wxy', 'designations': 'fin'},
 {'id': 157, 'name': 'mno', 'designations': 'mgr'},
 {'id': 158, 'name': 'abc', 'designations': 'sse'},
 {'id': 159, 'name': 'qrs', 'designations': 'hr'},
 {'id': 160, 'name': 'wxy', 'designations': 'hr'},
 {'id': 161, 'name': 'wxy', 'designations': 'admin'},
 {'id': 162, 'name': 'abc', 'designations': 'hr'},
 {'id': 163, 'name': 'wxy', 'designations': 'hr'},
 {'id': 164, 'name': 'mno', 'designations': 'mgr'},
 {'id': 165, 'name': 'abc', 'designations': 'hr'},
 {'id': 166, 'name': 'wxy', 'designations': 'sse'},
 {'id': 167, 'name': 'mno', 'designations': 'sse'},
 {'id': 168, 'name': 'qrs', 'designations': 'se'},
 {'id': 169, 'name': 'qrs', 'designations': 'mgr'},
 {'id': 170, 'name': 'wxy', 'designations': 'mgr'},
 {'id': 171, 'name': 'wxy', 'designations': 'hr'},
 {'id': 172, 'name': 'mno', 'designations': 'se'},
 {'id': 173, 'name': 'wxy', 'designations': 'fin'},
 {'id': 174, 'name': 'qrs', 'designations': 'se'},
 {'id': 175, 'name': 'qrs', 'designations': 'admin'},
 {'id': 176, 'name': 'mno', 'designations': 'hr'},
 {'id': 177, 'name': 'abc', 'designations': 'mgr'},
 {'id': 178, 'name': 'qrs', 'designations': 'se'},
 {'id': 179, 'name': 'mno', 'designations': 'fin'},
 {'id': 180, 'name': 'wxy', 'designations': 'mgr'},
 {'id': 181, 'name': 'wxy', 'designations': 'fin'},
 {'id': 182, 'name': 'qrs', 'designations': 'admin'},
 {'id': 183, 'name': 'wxy', 'designations': 'se'},
 {'id': 184, 'name': 'mno', 'designations': 'se'},
 {'id': 185, 'name': 'mno', 'designations': 'admin'},
 {'id': 186, 'name': 'qrs', 'designations': 'mgr'},
 {'id': 187, 'name': 'wxy', 'designations': 'mgr'},
 {'id': 188, 'name': 'wxy', 'designations': 'hr'},
 {'id': 189, 'name': 'abc', 'designations': 'admin'},
 {'id': 190, 'name': 'abc', 'designations': 'se'},
 {'id': 191, 'name': 'wxy', 'designations': 'sse'},
 {'id': 192, 'name': 'wxy', 'designations': 'mgr'},
 {'id': 193, 'name': 'qrs', 'designations': 'mgr'},
 {'id': 194, 'name': 'abc', 'designations': 'admin'},
 {'id': 195, 'name': 'wxy', 'designations': 'sse'},
 {'id': 196, 'name': 'wxy', 'designations': 'se'},
 {'id': 197, 'name': 'qrs', 'designations': 'fin'},
 {'id': 198, 'name': 'wxy', 'designations': 'se'},
 {'id': 199, 'name': 'mno', 'designations': 'hr'},
 {'id': 200, 'name': 'wxy', 'designations': 'fin'},
 {'id': 201, 'name': 'qrs', 'designations': 'mgr'},
 {'id': 202, 'name': 'mno', 'designations': 'admin'},
 {'id': 203, 'name': 'abc', 'designations': 'admin'},
 {'id': 204, 'name': 'qrs', 'designations': 'se'},
 {'id': 205, 'name': 'wxy', 'designations': 'admin'},
 {'id': 206, 'name': 'qrs', 'designations': 'sse'},
 {'id': 207, 'name': 'wxy', 'designations': 'fin'},
 {'id': 208, 'name': 'mno', 'designations': 'sse'},
 {'id': 209, 'name': 'mno', 'designations': 'hr'},
 {'id': 210, 'name': 'wxy', 'designations': 'mgr'},
 {'id': 211, 'name': 'wxy', 'designations': 'se'},
 {'id': 212, 'name': 'wxy', 'designations': 'admin'},
 {'id': 213, 'name': 'qrs', 'designations': 'sse'},
 {'id': 214, 'name': 'qrs', 'designations': 'sse'},
 {'id': 215, 'name': 'wxy', 'designations': 'fin'},
 {'id': 216, 'name': 'qrs', 'designations': 'admin'},
 {'id': 217, 'name': 'mno', 'designations': 'se'},
 {'id': 218, 'name': 'qrs', 'designations': 'mgr'},
 {'id': 219, 'name': 'abc', 'designations': 'admin'},
 {'id': 220, 'name': 'wxy', 'designations': 'fin'},
 {'id': 221, 'name': 'mno', 'designations': 'mgr'},
 {'id': 222, 'name': 'wxy', 'designations': 'se'},
 {'id': 223, 'name': 'wxy', 'designations': 'fin'},
 {'id': 224, 'name': 'mno', 'designations': 'mgr'},
 {'id': 225, 'name': 'wxy', 'designations': 'se'},
 {'id': 226, 'name': 'wxy', 'designations': 'se'},
 {'id': 227, 'name': 'qrs', 'designations': 'mgr'},
 {'id': 228, 'name': 'mno', 'designations': 'mgr'},
 {'id': 229, 'name': 'mno', 'designations': 'hr'},
 {'id': 230, 'name': 'abc', 'designations': 'hr'},
 {'id': 231, 'name': 'mno', 'designations': 'se'},
 {'id': 232, 'name': 'abc', 'designations': 'se'},
 {'id': 233, 'name': 'mno', 'designations': 'mgr'},
 {'id': 234, 'name': 'qrs', 'designations': 'sse'},
 {'id': 235, 'name': 'qrs', 'designations': 'se'},
 {'id': 236, 'name': 'qrs', 'designations': 'sse'},
 {'id': 237, 'name': 'abc', 'designations': 'fin'},
 {'id': 238, 'name': 'wxy', 'designations': 'mgr'},
 {'id': 239, 'name': 'mno', 'designations': 'se'},
 {'id': 240, 'name': 'wxy', 'designations': 'fin'},
 {'id': 241, 'name': 'abc', 'designations': 'admin'},
 {'id': 242, 'name': 'wxy', 'designations': 'hr'},
 {'id': 243, 'name': 'qrs', 'designations': 'se'},
 {'id': 244, 'name': 'wxy', 'designations': 'admin'},
 {'id': 245, 'name': 'wxy', 'designations': 'se'},
 {'id': 246, 'name': 'qrs', 'designations': 'sse'},
 {'id': 247, 'name': 'qrs', 'designations': 'se'},
 {'id': 248, 'name': 'abc', 'designations': 'hr'},
 {'id': 249, 'name': 'qrs', 'designations': 'se'},
 {'id': 250, 'name': 'abc', 'designations': 'admin'},
 {'id': 251, 'name': 'mno', 'designations': 'admin'},
 {'id': 252, 'name': 'mno', 'designations': 'se'},
 {'id': 253, 'name': 'mno', 'designations': 'admin'},
 {'id': 254, 'name': 'mno', 'designations': 'se'},
 {'id': 255, 'name': 'qrs', 'designations': 'mgr'},
 {'id': 256, 'name': 'qrs', 'designations': 'mgr'},
 {'id': 257, 'name': 'qrs', 'designations': 'fin'},
 {'id': 258, 'name': 'abc', 'designations': 'sse'},
 {'id': 259, 'name': 'qrs', 'designations': 'se'},
 {'id': 260, 'name': 'wxy', 'designations': 'se'},
 {'id': 261, 'name': 'wxy', 'designations': 'hr'},
 {'id': 262, 'name': 'abc', 'designations': 'fin'},
 {'id': 263, 'name': 'mno', 'designations': 'se'},
 {'id': 264, 'name': 'wxy', 'designations': 'fin'},
 {'id': 265, 'name': 'mno', 'designations': 'admin'},
 {'id': 266, 'name': 'wxy', 'designations': 'se'},
 {'id': 267, 'name': 'abc', 'designations': 'admin'},
 {'id': 268, 'name': 'abc', 'designations': 'hr'},
 {'id': 269, 'name': 'qrs', 'designations': 'sse'},
 {'id': 270, 'name': 'mno', 'designations': 'mgr'},
 {'id': 271, 'name': 'abc', 'designations': 'se'},
 {'id': 272, 'name': 'abc', 'designations': 'sse'},
 {'id': 273, 'name': 'abc', 'designations': 'se'},
 {'id': 274, 'name': 'wxy', 'designations': 'hr'},
 {'id': 275, 'name': 'qrs', 'designations': 'fin'},
 {'id': 276, 'name': 'abc', 'designations': 'hr'},
 {'id': 277, 'name': 'qrs', 'designations': 'fin'},
 {'id': 278, 'name': 'mno', 'designations': 'admin'},
 {'id': 279, 'name': 'mno', 'designations': 'hr'},
 {'id': 280, 'name': 'mno', 'designations': 'fin'},
 {'id': 281, 'name': 'qrs', 'designations': 'se'},
 {'id': 282, 'name': 'wxy', 'designations': 'hr'},
 {'id': 283, 'name': 'abc', 'designations': 'fin'},
 {'id': 284, 'name': 'wxy', 'designations': 'hr'},
 {'id': 285, 'name': 'wxy', 'designations': 'admin'},
 {'id': 286, 'name': 'qrs', 'designations': 'fin'},
 {'id': 287, 'name': 'wxy', 'designations': 'admin'},
 {'id': 288, 'name': 'wxy', 'designations': 'mgr'},
 {'id': 289, 'name': 'mno', 'designations': 'sse'},
 {'id': 290, 'name': 'mno', 'designations': 'se'},
 {'id': 291, 'name': 'abc', 'designations': 'fin'},
 {'id': 292, 'name': 'mno', 'designations': 'admin'},
 {'id': 293, 'name': 'qrs', 'designations': 'admin'},
 {'id': 294, 'name': 'abc', 'designations': 'fin'},
 {'id': 295, 'name': 'wxy', 'designations': 'mgr'},
 {'id': 296, 'name': 'wxy', 'designations': 'admin'},
 {'id': 297, 'name': 'qrs', 'designations': 'sse'},
 {'id': 298, 'name': 'qrs', 'designations': 'hr'},
 {'id': 299, 'name': 'abc', 'designations': 'fin'},
 {'id': 300, 'name': 'qrs', 'designations': 'admin'},
 {'id': 301, 'name': 'mno', 'designations': 'mgr'},
 {'id': 302, 'name': 'wxy', 'designations': 'se'},
 {'id': 303, 'name': 'mno', 'designations': 'mgr'},
 {'id': 304, 'name': 'mno', 'designations': 'se'},
 {'id': 305, 'name': 'mno', 'designations': 'se'},
 {'id': 306, 'name': 'abc', 'designations': 'sse'},
 {'id': 307, 'name': 'abc', 'designations': 'sse'},
 {'id': 308, 'name': 'mno', 'designations': 'mgr'},
 {'id': 309, 'name': 'wxy', 'designations': 'mgr'},
 {'id': 310, 'name': 'wxy', 'designations': 'mgr'},
 {'id': 311, 'name': 'abc', 'designations': 'admin'},
 {'id': 312, 'name': 'mno', 'designations': 'hr'},
 {'id': 313, 'name': 'wxy', 'designations': 'mgr'},
 {'id': 314, 'name': 'abc', 'designations': 'se'},
 {'id': 315, 'name': 'mno', 'designations': 'hr'},
 {'id': 316, 'name': 'qrs', 'designations': 'mgr'},
 {'id': 317, 'name': 'mno', 'designations': 'se'},
 {'id': 318, 'name': 'wxy', 'designations': 'fin'},
 {'id': 319, 'name': 'qrs', 'designations': 'se'},
 {'id': 320, 'name': 'abc', 'designations': 'mgr'},
 {'id': 321, 'name': 'abc', 'designations': 'mgr'},
 {'id': 322, 'name': 'qrs', 'designations': 'mgr'},
 {'id': 323, 'name': 'abc', 'designations': 'admin'},
 {'id': 324, 'name': 'qrs', 'designations': 'hr'},
 {'id': 325, 'name': 'mno', 'designations': 'hr'},
 {'id': 326, 'name': 'abc', 'designations': 'hr'},
 {'id': 327, 'name': 'qrs', 'designations': 'mgr'},
 {'id': 328, 'name': 'abc', 'designations': 'hr'},
 {'id': 329, 'name': 'qrs', 'designations': 'sse'},
 {'id': 330, 'name': 'qrs', 'designations': 'mgr'},
 {'id': 331, 'name': 'qrs', 'designations': 'se'},
 {'id': 332, 'name': 'wxy', 'designations': 'se'},
 {'id': 333, 'name': 'mno', 'designations': 'mgr'},
 {'id': 334, 'name': 'mno', 'designations': 'admin'},
 {'id': 335, 'name': 'abc', 'designations': 'admin'},
 {'id': 336, 'name': 'qrs', 'designations': 'se'},
 {'id': 337, 'name': 'wxy', 'designations': 'hr'},
 {'id': 338, 'name': 'wxy', 'designations': 'se'},
 {'id': 339, 'name': 'qrs', 'designations': 'fin'},
 {'id': 340, 'name': 'mno', 'designations': 'admin'},
 {'id': 341, 'name': 'abc', 'designations': 'fin'},
 {'id': 342, 'name': 'mno', 'designations': 'se'},
 {'id': 343, 'name': 'wxy', 'designations': 'fin'},
 {'id': 344, 'name': 'qrs', 'designations': 'se'},
 {'id': 345, 'name': 'mno', 'designations': 'mgr'},
 {'id': 346, 'name': 'qrs', 'designations': 'fin'},
 {'id': 347, 'name': 'wxy', 'designations': 'mgr'},
 {'id': 348, 'name': 'mno', 'designations': 'mgr'},
 {'id': 349, 'name': 'abc', 'designations': 'sse'},
 {'id': 350, 'name': 'qrs', 'designations': 'se'},
 {'id': 351, 'name': 'abc', 'designations': 'sse'},
 {'id': 352, 'name': 'qrs', 'designations': 'sse'},
 {'id': 353, 'name': 'qrs', 'designations': 'se'},
 {'id': 354, 'name': 'abc', 'designations': 'admin'},
 {'id': 355, 'name': 'abc', 'designations': 'se'},
 {'id': 356, 'name': 'qrs', 'designations': 'sse'},
 {'id': 357, 'name': 'qrs', 'designations': 'hr'},
 {'id': 358, 'name': 'mno', 'designations': 'se'},
 {'id': 359, 'name': 'mno', 'designations': 'mgr'},
 {'id': 360, 'name': 'wxy', 'designations': 'mgr'},
 {'id': 361, 'name': 'abc', 'designations': 'se'},
 {'id': 362, 'name': 'wxy', 'designations': 'mgr'},
 {'id': 363, 'name': 'abc', 'designations': 'admin'},
 {'id': 364, 'name': 'mno', 'designations': 'mgr'},
 {'id': 365, 'name': 'qrs', 'designations': 'mgr'},
 {'id': 366, 'name': 'qrs', 'designations': 'hr'},
 {'id': 367, 'name': 'qrs', 'designations': 'hr'},
 {'id': 368, 'name': 'mno', 'designations': 'sse'},
 {'id': 369, 'name': 'mno', 'designations': 'se'},
 {'id': 370, 'name': 'mno', 'designations': 'hr'},
 {'id': 371, 'name': 'wxy', 'designations': 'sse'},
 {'id': 372, 'name': 'qrs', 'designations': 'fin'},
 {'id': 373, 'name': 'wxy', 'designations': 'mgr'},
 {'id': 374, 'name': 'wxy', 'designations': 'hr'},
 {'id': 375, 'name': 'mno', 'designations': 'hr'},
 {'id': 376, 'name': 'wxy', 'designations': 'admin'},
 {'id': 377, 'name': 'wxy', 'designations': 'admin'},
 {'id': 378, 'name': 'qrs', 'designations': 'mgr'},
 {'id': 379, 'name': 'mno', 'designations': 'se'},
 {'id': 380, 'name': 'wxy', 'designations': 'admin'},
 {'id': 381, 'name': 'mno', 'designations': 'fin'},
 {'id': 382, 'name': 'wxy', 'designations': 'hr'},
 {'id': 383, 'name': 'abc', 'designations': 'admin'},
 {'id': 384, 'name': 'qrs', 'designations': 'mgr'},
 {'id': 385, 'name': 'mno', 'designations': 'sse'},

In [136]:
def frange(start, stop, increment):
    x = start
    while x < stop:
        yield x
        x += increment

In [137]:
c = frange(0, 4, 0.5)
print(type(c))

for n in frange(0, 4, 0.5):
    print(n)

<class 'generator'>
0
0.5
1.0
1.5
2.0
2.5
3.0
3.5

In [140]:
def countdown(n):
    print("starting to count from", n)
    while n > 0:
        yield n
        n -= 1
    print("Done")

In [139]:
c = countdown(3)

In [143]:
next(c)

1

In [142]:
next(c)

2

In [144]:
next(c)

Done

StopIteration:

In [145]:
list(c)

[]

In [146]:
a = [1,2,3,4,5]
for x in reversed(a):
    print(x)

5
4
3
2
1

In [147]:
items = ['a','b','c']
from itertools import permutations
for p in permutations(items):
    print(p)

('a', 'b', 'c')
('a', 'c', 'b')
('b', 'a', 'c')
('b', 'c', 'a')
('c', 'a', 'b')
('c', 'b', 'a')

In [148]:
from itertools import combinations
for c in combinations(items, 3):
    print(c)

('a', 'b', 'c')

In [149]:
from itertools import combinations
for c in combinations(items, 2):
    print(c)

('a', 'b')
('a', 'c')
('b', 'c')

In [150]:
from itertools import combinations
for c in combinations(items, 1):
    print(c)

('a',)
('b',)
('c',)

In [151]:
# enumerate to the track of sequence and element in terms of index and value

mylist = ['a','b','c']
for idx, val in enumerate(mylist):
    print(idx, val)

0 a
1 b
2 c

In [152]:
for idx, val in enumerate(mylist, 1):
    print(idx, val)

1 a
2 b
3 c

In [153]:
# zip iterator
x = [1,2,3,4,5]
y = [101,102,103,104,105]

for i, j in zip(x, y):
    print(i, j)

1 101
2 102
3 103
4 104
5 105

In [155]:
# zip iterator
x = [1,2,3,4,5]
y = [101,102,103,104,105]
d = {}
for i, j in zip(x, y):
    d[i] = j
print(d)

{1: 101, 2: 102, 3: 103, 4: 104, 5: 105}

In [156]:
a = [1,2,3]
b = ['w', 'x', 'y', 'z']
for i in zip(a,b):
    print(i)

(1, 'w')
(2, 'x')
(3, 'y')

In [157]:
from itertools import zip_longest
for i in zip_longest(a,b):
    print(i)

(1, 'w')
(2, 'x')
(3, 'y')
(None, 'z')

In [158]:
a = [1,2,3]
b = ['w', 'x', 'y']
c = [10,11,12]
for i in zip(a,b,c):
    print(i)

(1, 'w', 10)
(2, 'x', 11)
(3, 'y', 12)

In [159]:
from itertools import chain
for x in chain(a,b,c):
    print(x)

1
2
3
w
x
y
10
11
12

In [160]:
# flattening the nested sequence
from collections import Iterable

def flatten(items, ignore_type=(str, bytes)):
    for x in items:
        if isinstance(x, Iterable) and not isinstance(x, ignore_type):
            yield from flatten(x)
        else:
            yield x

C:\Users\BHAGYA~1\AppData\Local\Temp/ipykernel_11632/2924976903.py:2: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated since Python 3.3, and in 3.10 it will stop working
  from collections import Iterable

In [161]:
items = [1, 2, [3,4, [5,6],7], 8]

for x in flatten(items):
    print(x)

1
2
3
4
5
6
7
8

In [162]:
items = ['john', ['ate','fred'],'tom']

for x in flatten(items):
    print(x)

john
ate
fred
tom

In [165]:
# files

with open('Sample.txt', 'rt') as f:
    data = f.read()
print(data)

FileNotFoundError: [Errno 2] No such file or directory: 'Sample.txt'

In [171]:
# files

with open("Sample.txt", 'rt') as f:
    data = f.read()
print(data)

FileNotFoundError: [Errno 2] No such file or directory: 'Sample.txt'

In [172]:
# redirected output
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [173]:
with open('abc.txt', 'wt') as f:
    print('hi', file=f)
    print("hello", file=f)

In [174]:
with open('abc.txt', 'rt') as f:
    print(f.read())

hi
hello

In [177]:
# Write chunk of text data
write.open("somefile.txt","wt") as f:
    f.write("hiiii")
    f.write("hello")

SyntaxError: invalid syntax (Temp/ipykernel_11632/2493789349.py, line 2)

In [180]:
f.open("filename","w")
f.read()
f.write()
f.close()

AttributeError: '_io.TextIOWrapper' object has no attribute 'open'

In [181]:
# redirect out file

with open("somefile.txt","wt") as f:
    print("Hii Python", file = f)
    print("line3", file = f)

In [182]:
f = open("somefile.txt","rt")
data = f.read()
f.close()

In [183]:
data

'Hii Python\nline3\n'

In [184]:
# Replace bad chars with unicode U + fffd replace
f = open("/Users/Bhagya/Documents/Basic_Python/material/sample.txt","rt",encoding = "ascii", errors = "replace")
f.read()

FileNotFoundError: [Errno 2] No such file or directory: '/Users/Bhagya/Documents/Basic_Python/material/sample.txt'